// Variables
$color-theme-background: #4595ca;

body {
    padding: 0;
    margin: 0;
    
    
}

#agent-info {
    img {
        width: 180px;
        height: 180px;
        border-radius: 50%;
    }
}